<html>
<body>
    <div>Список тестов</div>
    {{#tests}}
        <div>
            <b> ID - </b>{{id}}
            <b>| Title - </b>{{title}}
            <b>| Type - </b>{{type.type}}
        </div>
        <i>Вопросы </i>
       <a href="/runTest?testId={{id}}&queryId=-1"> Пройти</a>
    {{/tests}}
</div>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>