<!DOCTYPE HTML>
<html >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello - {{name}}</div>
<p>Click <a href="/all">here</a> to see a greeting.</p>
</body>
</html>