<html>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p><a href="/allTests">to see a  tests.</a></p>
<p><a href="/addtests">to add a  test.</a></p>
<p><a href="/addqestions">to add a  questions.</a></p>
</body>
</html>